.header {
    &__heading {
        color: saddlebrown;
        font-size: 6rem; 
        text-shadow: 1px 1px 2px black; 
    }
}

.footer {
    &__copy {
        color: white;  
        font-size: 1.8rem;   
    }
}